body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 { font-size: 4em; margin: 0;}
p { font-size: 1.5em;}

header {
  background-color: #333;
  padding: 10px;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px 0;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

.cta-button {
  display: inline-block;
  padding: 15px 35px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.side-by-side {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.column {
  flex: 1;
  padding: 0 20px;
}

.column h2 {
  color: #333;
}

.column p {
  color: #666;
}

.column img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 15px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
